*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Hahmlet , sans-serif;
}

.pic {
	border-radius: 10px;
	max-width: 50%;
	height: auto;
	margin-bottom: 25px;
}

body {
	background-color: #95a78d;
	color: #403f4c;
}

.card-group {
	margin-bottom: 25px;
}

.card {
	margin: 10px;
}

.map {
	margin-top: 100px;
}

.form-group {
	margin-bottom: 25px;
}

.footer {
	text-align: center;
	color: black;
}

#landing {
	height: 100vh; 
	display: flex;
	align-items: center;
	background-color: #403f4c;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
}

#about {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-size: 24px;
}

#project {
	margin-top: 100px;
}

#contact {
	margin-top: 20px;
	margin-bottom: 25px;
}

@media (min-width: 768px){
	body {
		background-color: #cc5a71;
		color: #fffae3;
	}
}